<div class="main-container">
 <div class="sec-container">
  <div class="text-container">
    <h1 class="main-text"> Music for NFT Creators.</h1>
    <h1 class="main-text"> Digital Music for fans.</h1>
    <h6 class="description">Music NFTs will continue to revolutionize the way that artists and fans create community together as we enter the upcoming year — undoubtedly changing the trajectory of countless budding music careers.
    </h6>
  </div>


  <div class="button-container">
  <div class="logo-container">
    <h1 class="powered-text"> Powered by </h1>
    <img src="/assets/logo-solana.svg" alt="solana">
  </div>
    <button class="discover-button"> Discover More </button>
  </div>
 </div>


<div class="image-container">
  <img src="/assets/hand.svg" alt="hand">
</div>

</div>

<div class="frame">
<h1>  Reach the new fan </h1>
  <img src="/assets/globe.svg" alt="globe">
  <h1> Reach the new fan </h1>
  <img src="/assets/globe.svg" alt="globe">
  <h1> Reach the new fan </h1>
  <img src="/assets/globe.svg" alt="globe">
  <h1> Reach the new fan </h1>
  <img src="/assets/globe.svg" alt="globe">
  <h1> Reach the new fan </h1>
  <img src="/assets/globe.svg" alt="globe">
</div>

