.main-container{
  @apply flex flex-row gap-x-24 justify-center items-center p-10;
}

@media(max-width: 1526px){
  .main-container{
    @apply gap-x-10 p-24 flex flex-col;
  }
}



.sec-container{
  @apply flex flex-col;
}

.text-container{
  @apply text-white;
}

.button-container{
  @apply text-white flex flex-row gap-x-10 text-[10px] ;
}

.main-text{
  @apply text-6xl;
}

@media(max-width: 1526px){
  .main-text{
    @apply text-3xl;
  }
}


.description{
  @apply text-xl font-light w-[700px];
}

@media(max-width: 1526px){
  .description{
    @apply w-[400px];
  }
}

.powered-text{
  @apply font-light;
}

.discover-button{
  @apply  rounded-[50px] w-[220px] bg-transparent text-white text-[18px] border-amber-50 cursor-pointer hover:accent-purple-500;
}


.frame {
  @apply w-full flex flex-row gap-x-8 text-white uppercase font-normal text-[12px] relative overflow-hidden items-center justify-center ;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}

.frame h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  animation: slideLeft 4s linear infinite;
}

.frame img {
  max-width: 100%;
  height: auto;
  animation: slideLeft 4s linear infinite;
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
