<header>

<div class="header-container">
  <div class="header-title">
    <h1 class="title"> Music </h1>
    <h1 class="sec-title"> NFT Platform </h1>

  </div>

  <nav>
    <ul class="nav-container">
      <li><a routerLink="/marketplace">Marketplace</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/resources">Resources</a></li>
      <li><a routerLink="/faq">FAQ</a></li>
    </ul>
  </nav>

  <div class="header-icons">
    <a href="#"><img src="/assets/facebook.svg" alt="facebook icon"></a>
    <a href="#"><img src="/assets/twitter.svg" alt="twitter icon"></a>
    <a href="#"><img src="/assets/medium.svg" alt="medium icon"></a>
  </div>
  </div>

</header>

