<div class="main-container">
<div> <h1> Shape the NFT Music </h1> </div>
  <div class="social-container">
  <h1> Facebook </h1>
    <img src="assets/line.svg">
    <h1> Twitter</h1>
    <img src="assets/line.svg">
    <h1> Medium </h1>
    <img src="assets/line.svg">
    <h1>  Contact </h1>


  </div>
  <div class="last-container">
  <div class="last-container">
    <h1> Privacy Policy</h1>
    <h1> Terms and Conditions </h1>
  </div>

  <div> <h1> Copyright © 2022 Avi Yansah</h1></div>
  </div>
</div>
