<div class="main-container">

  <div class="work-container">

    <div class="text-container">
    <h1 class="main-text"> How do Music NFTs work? </h1>
      <h6 class="description"> NFTs are unique assets stored on a blockchain. They are, immutable, scarce and publicly verifiable. In the music world, artistes get to sell limited digital content to their fans who pay via crypto. You can now produce any music content that cannot be counterfeited. </h6>
    </div>

 <div class="music-image-container">
    <img class="music-img" src="/assets/music.svg" alt="music">
  </div>

  </div>

</div>

  <div class="marketplace-container">

    <div class="four-cards">

      <div class="first-section">
      <div class="card-container">
        <div class="card">
          <img  class="queen-img" src="/assets/queen.svg" alt="queen">
          <div class="playlist">
            <div class="quality">
              <img  src="/assets/quality.svg" alt="quality">
              <h1> 0.3234</h1>
            </div>
          </div>

          <div class="card-container">
            <div class="card">
              <img  class="queen-img" src="/assets/singer.svg" alt="singer">
              <div class="playlist">
                <div class="quality">
                  <img  src="/assets/quality.svg" alt="quality">
                  <h1> 0.3234</h1>
                </div>
              </div>


            </div>
            <div class="sec-section">
              <div class="card-container">
                <div class="card">
                  <img  class="queen-img" src="/assets/sing.svg" alt="sing">
                  <div class="playlist">
                    <div class="quality">
                      <img  src="/assets/quality.svg" alt="quality">
                      <h1> 0.3234</h1>
                    </div>
                  </div>

                  <div class="card-container">
                    <div class="card">
                      <img  class="queen-img" src="/assets/fourman.svg" alt="sgr">
                      <div class="playlist">
                        <div class="quality">
                          <img  src="/assets/quality.svg" alt="quality">
                          <h1> 0.3234</h1>
                        </div>
</div>
                    </div>


                      <div class="text-container-1">
                        <h1 class="main-text-1"> Music NFT Marketplace </h1>
                        <h6 class="description-1"> Create your first music NFTs with NFT market for musicians. Create music and music videos just under the $1, the platform works with BSC blockchain and supports mp4. With AirNFTs, you are getting the control over your NFTs, no middle man cutting your sales. Create, Buy, Sell and Earn with your music NFTs. </h6>
                      </div>


</div>




  <div class="community-container">
  </div>

</div>


