<div class="main-container">

  <div class="work-container">
    <div class="text-container">
      <h1 class="main-text">How do Music NFTs work?</h1>
      <h6 class="description">NFTs are unique assets stored on a blockchain. They are immutable, scarce, and publicly verifiable. In the music world, artists get to sell limited digital content to their fans who pay via crypto. You can now produce any music content that cannot be counterfeited.</h6>
    </div>
    <div class="music-image-container">
      <img class="music-img" src="/assets/music.svg" alt="music">
    </div>
  </div>



  <div class="marketplace-container">

    <div class="four-cards">

      <div class="first-section">


      <div class="card-container">
        <div class="card">
          <img  class="queen-img" src="/assets/queen.svg" alt="queen">
          <div class="playlist">
            <div class="quality">
              <img  src="/assets/quality.svg" alt="quality">
              <h1> 0.3234</h1>
            </div>
          </div>
        </div>
      </div>

        <div class="card-container">
          <div class="card">
            <img  class="queen-img" src="/assets/queen.svg" alt="queen">
            <div class="playlist">
              <div class="quality">
                <img  src="/assets/quality.svg" alt="quality">
                <h1> 0.3234</h1>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="first-section">


        <div class="card-container">
          <div class="card">
            <img  class="queen-img" src="/assets/queen.svg" alt="queen">
            <div class="playlist">
              <div class="quality">
                <img  src="/assets/quality.svg" alt="quality">
                <h1> 0.3234</h1>
              </div>
            </div>
          </div>
        </div>

        <div class="card-container">
          <div class="card">
            <img  class="queen-img" src="/assets/queen.svg" alt="queen">
            <div class="playlist">
              <div class="quality">
                <img  src="/assets/quality.svg" alt="quality">
                <h1> 0.3234</h1>
              </div>
            </div>
          </div>
        </div>

      </div>



</div>

      <div class="text-container-1">
                        <h1 class="main-text-1"> Music NFT Marketplace </h1>
                        <h6 class="description-1"> Create your first music NFTs with NFT market for musicians. Create music and music videos just under the $1, the platform works with BSC blockchain and supports mp4. With AirNFTs, you are getting the control over your NFTs, no middle man cutting your sales. Create, Buy, Sell and Earn with your music NFTs. </h6>
                        <button class="button"> Explore Marketplace </button>

                      </div>



              </div>

          </div>




                  <div class="community-container">
                    <div>
                      <h1 class="main-text-2">Engage your Fans with community</h1>
                      <div class="engage-container">
                        <div class="date-container">
                          <h1 class="headline">01/</h1>
                          <h1 class="description-auto">Artists themselves become a platform. NFTs allow artistes, especially upcoming ones, to create an ecosystem that allows genuine fans to buy into their market.</h1>
                        </div>
                        <div class="date-container">
                          <h1 class="headline">02/</h1>
                          <h1 class="description-auto">Artists themselves become a platform. NFTs allow artistes, especially upcoming ones, to create an ecosystem that allows genuine fans to buy into their market.</h1>
                        </div>
                        <div class="date-container">
                          <h1 class="headline">02/</h1>
                          <h1 class="description-auto">Artists themselves become a platform. NFTs allow artistes, especially upcoming ones, to create an ecosystem that allows genuine fans to buy into their market.</h1>
                        </div>

                    </div>



</div>
