

<div class="headline-container">
  <h1 class="headline"> Discover Music NFT </h1>
  <div class="genre-container">
    <h1> Music Genre </h1>
    <div class="button-container-1">
    <button class="genre-button"> Rock </button>
    <button class="genre-button"> Pop </button>
    <button class="genre-button"> K-Pop </button>
    <button class="genre-button"> Jazz </button>
    <button class="genre-button"> Funk </button>
    </div>
  </div>


<div class="main-container">


  <div class="card-container">
    <div class="card">
      <img  class="nft" src="/assets/picture1.svg" alt="nft">
      <div class="playlist">
        <div class="quality">
          <img  src="/assets/quality.svg" alt="quality">
          <h1> 0.3234</h1> <h1> 16 tokens</h1>
        </div>

        <div class="button-container">
           <button class="first-button"> Play now </button>
          <button class="sec-button"> Buy NFT </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card">
      <img  class="nft" src="/assets/picture2.svg" alt="nft">
      <div class="playlist">
        <div class="quality">
          <img  src="/assets/quality.svg" alt="quality">
          <h1> 0.3234</h1> <h1> 16 tokens</h1>
        </div>

        <div class="button-container">
          <button class="first-button"> Play now </button>
          <button class="sec-button"> Buy NFT </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card">
      <img  class="nft" src="/assets/picture3.svg" alt="nft">
      <div class="playlist">
        <div class="quality">
          <img  src="/assets/quality.svg" alt="quality">
          <h1> 0.3234</h1> <h1> 16 tokens</h1>
        </div>

        <div class="button-container">
          <button class="first-button"> Play now </button>
          <button class="sec-button"> Buy NFT </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card">
      <img  class="nft" src="/assets/picture4.svg" alt="nft">
      <div class="playlist">
        <div class="quality">
          <img  src="/assets/quality.svg" alt="quality">
          <h1> 0.3234</h1> <h1> 16 tokens</h1>
        </div>

        <div class="button-container">
          <button class="first-button"> Play now </button>
          <button class="sec-button"> Buy NFT </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card">
      <img  class="nft" src="/assets/picture5.svg" alt="nft">
      <div class="playlist">
        <div class="quality">
          <img  src="/assets/quality.svg" alt="quality">
          <h1> 0.3234</h1> <h1> 16 tokens</h1>
        </div>

        <div class="button-container">
          <button class="first-button"> Play now </button>
          <button class="sec-button"> Buy NFT </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card">
      <img  class="nft" src="/assets/picture6.svg" alt="nft">
      <div class="playlist">
        <div class="quality">
          <img  src="/assets/quality.svg" alt="quality">
          <h1> 0.3234</h1> <h1> 16 tokens</h1>
        </div>

        <div class="button-container">
          <button class="first-button"> Play now </button>
          <button class="sec-button"> Buy NFT </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card">
      <img  class="nft" src="/assets/picture7.svg" alt="nft">
      <div class="playlist">
        <div class="quality">
          <img  src="/assets/quality.svg" alt="quality">
          <h1> 0.3234</h1> <h1> 16 tokens</h1>
        </div>

        <div class="button-container">
          <button class="first-button"> Play now </button>
          <button class="sec-button"> Buy NFT </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card">
      <img  class="nft" src="/assets/picture8.svg" alt="nft">
      <div class="playlist">
        <div class="quality">
          <img  src="/assets/quality.svg" alt="quality">
          <h1> 0.3234</h1> <h1> 16 tokens</h1>
        </div>

        <div class="button-container">
          <button class="first-button"> Play now </button>
          <button class="sec-button"> Buy NFT </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card">
      <img  class="nft" src="/assets/picture9.svg" alt="nft">
      <div class="playlist">
        <div class="quality">
          <img  src="/assets/quality.svg" alt="quality">
          <h1> 0.3234</h1> <h1> 16 tokens</h1>
        </div>

        <div class="button-container">
          <button class="first-button"> Play now </button>
          <button class="sec-button"> Buy NFT </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card">
      <img  class="nft" src="/assets/picture10.svg" alt="nft">
      <div class="playlist">
        <div class="quality">
          <img  src="/assets/quality.svg" alt="quality">
          <h1> 0.3234</h1> <h1> 16 tokens</h1>
        </div>

        <div class="button-container">
          <button class="first-button"> Play now </button>
          <button class="sec-button"> Buy NFT </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card">
      <img  class="nft" src="/assets/picture3.svg" alt="nft">
      <div class="playlist">
        <div class="quality">
          <img  src="/assets/quality.svg" alt="quality">
          <h1> 0.3234</h1> <h1> 16 tokens</h1>
        </div>

        <div class="button-container">
          <button class="first-button"> Play now </button>
          <button class="sec-button"> Buy NFT </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card">
      <img  class="nft" src="/assets/picture12.svg" alt="nft">
      <div class="playlist">
        <div class="quality">
          <img  src="/assets/quality.svg" alt="quality">
          <h1> 0.3234</h1> <h1> 16 tokens</h1>
        </div>

        <div class="button-container">
          <button class="first-button"> Play now </button>
          <button class="sec-button"> Buy NFT </button>
        </div>
      </div>
    </div>
  </div>


</div>

</div>

<div class="last-button-container">
  <button class="last-button"> Discover More Music NFT </button>
</div>
